In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/house_rent_train.csv")

In [3]:
data

,posted_on,bhk,rent,size,floor,area_type,area_locality,city,furnishing_status,tenant_preferred,bathroom,point_of_contact
0,2022-04-23,2,7000,450,1 out of 3,Carpet Area,safuipara,Kolkata,Furnished,Bachelors,2,Contact Owner
1,2022-04-23,1,6500,800,Ground out of 1,Carpet Area,Santragachi,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
2,2022-04-23,2,20000,700,1 out of 2,Super Area,Salt Lake City Sector 1,Kolkata,Furnished,Bachelors/Family,1,Contact Owner
3,2022-04-23,3,36125,1700,Ground out of 2,Super Area,Salt Lake City,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
4,2022-04-23,2,8000,650,1 out of 2,Super Area,"Garia Station, Garia",Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
...,...,...,...,...,...,...,...,...,...,...,...,...
2688,2022-06-15,2,13000,650,Ground out of 4,Carpet Area,Lake Gardens,Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Owner
2689,2022-06-15,2,11000,700,Ground out of 2,Carpet Area,Uttarahalli,Bangalore,Semi-Furnished,Bachelors/Family,2,Contact Owner
2690,2022-06-15,3,16000,1305,2 out of 5,Super Area,Bowenpally,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner
2691,2022-06-15,1,6000,300,1 out of 2,Carpet Area,"Picnic Garden, E M Bypass",Kolkata,Unfurnished,Bachelors/Family,1,Contact Agent
2692,2022-06-15,3,20000,1100,Ground out of 1,Carpet Area,Salt Lake City Sector 2,Kolkata,Unfurnished,Bachelors,2,Contact Agent

In [4]:
data.floor.unique()

array(['1 out of 3', 'Ground out of 1', '1 out of 2', 'Ground out of 2',
       '2 out of 3', 'Ground out of 3', '2 out of 4', '1 out of 1',
       '3 out of 4', '2 out of 5', '2 out of 2', '1 out of 5',
       '3 out of 3', '5 out of 20', 'Ground out of 4', '10 out of 22',
       '15 out of 15', '2 out of 7', '8 out of 10', '6 out of 7',
       '3 out of 8', '3 out of 7', '1 out of 4', '4 out of 7',
       '1 out of 24', 'Upper Basement out of 3', '3 out of 5',
       '4 out of 5', '12 out of 17', '1 out of 7', '6 out of 10',
       '4 out of 15', '13 out of 16', '7 out of 8', '5 out of 9',
       '2 out of 8', '12 out of 13', '18 out of 19', '4 out of 4',
       'Upper Basement out of 7', '11 out of 23', '3 out of 6',
       '1 out of 8', '4 out of 8', '21 out of 22', 'Ground out of 5',
       '4 out of 10', '4 out of 6', 'Lower Basement out of 3',
       '15 out of 20', '5 out of 7', '4 out of 14', '7 out of 14',
       '12 out of 20', '10 out of 10', '5 out of 5', '8 out of 22',
       'Ground out of 12', '19 out of 19', '14 out of 14', '6 out of 9',
       '28 out of 31', '7 out of 9', '9 out of 13', '7 out of 17',
       '5 out of 6', '2 out of 6', '11 out of 16',
       'Upper Basement out of 2', '13 out of 14', '8 out of 32',
       '9 out of 10', 'Ground out of 6', '6 out of 8', '5 out of 12',
       '8 out of 19', '12 out of 24', '30 out of 58', '1 out of 6',
       '6 out of 11', '12 out of 19', '6 out of 12', '10 out of 18',
       '8 out of 20', '16 out of 21', '12 out of 21', '17 out of 22',
       '19 out of 20', '5 out of 8', '11 out of 13', '5 out of 10',
       '17 out of 24', '6 out of 17', '18 out of 23', '10 out of 37',
       '5 out of 14', '10 out of 14', '6 out of 30', '39 out of 60',
       '76 out of 78', '8 out of 15', '6 out of 15', '10 out of 20',
       '18 out of 30', '5 out of 18', '35 out of 60', '28 out of 30',
       '16 out of 23', 'Ground out of 13', 'Lower Basement out of 1',
       '10 out of 15', '13 out of 25', '20 out of 27', '6 out of 20',
       '11 out of 21', '14 out of 21', '9 out of 19', '2 out of 11',
       '2 out of 9', '12 out of 45', '15 out of 58', '9 out of 11',
       '8 out of 58', '2 out of 12', '18 out of 22', '14 out of 23',
       '30 out of 45', '17 out of 31', '9 out of 22', '6 out of 21',
       '9 out of 15', 'Upper Basement out of 40', '14 out of 58',
       '18 out of 45', '8 out of 13', '7 out of 12', '19 out of 30',
       '12 out of 22', '5 out of 23', '18 out of 28', '10 out of 12',
       '16 out of 18', '1 out of 16', '11 out of 12', '9 out of 12',
       '8 out of 12', '2 out of 14', '3 out of 14', '4 out of 12',
       '2 out of 10', '12 out of 25', '1 out of 14', '24 out of 31',
       '5 out of 15', 'Upper Basement out of 4', '14 out of 17',
       'Upper Basement out of 22', '14 out of 18',
       'Upper Basement out of 16', '6 out of 18', '3 out of 9',
       '2 out of 24', '4 out of 9', '20 out of 22', '1 out of 9',
       'Ground', '9 out of 38', '3 out of 11', '6 out of 23',
       '23 out of 23', '8 out of 16', '5 out of 17', '7 out of 19',
       '9 out of 21', '24 out of 60', '10 out of 13', '4 out of 22',
       '7 out of 10', '7 out of 7', '5 out of 34', '11 out of 15',
       '2 out of 13', '12 out of 18', '3 out of 10', '15 out of 18',
       '1 out of 12', '13 out of 20', '12 out of 16', '9 out of 20',
       '7 out of 20', '15 out of 17', '7 out of 18', '65 out of 76',
       '8 out of 9', '15 out of 23', '15 out of 24', '8 out of 18',
       '7 out of 11', '8 out of 45', '7 out of 15', '11 out of 18',
       '20 out of 32', '10 out of 19', '25 out of 32', '26 out of 44',
       '16 out of 32', '7 out of 28', '1', '60 out of 66', '10 out of 25',
       'Ground out of 8', '35 out of 55', '4 out of 20', '27 out of 58',
       '24 out of 25', '16 out of 36', '3 out of 12', '25 out of 52',
       '17 out of 20', '18 out of 20', '23 out of 35', '1 out of 10',
       '25 out of 35', '16 out of 34', '5 out of 13',
       'Upper Basement out of 9', '16 out of 29', '20 out of 31',
       '9 out of 31', '21 out of 58', 'Ground out of 9', '5 out of 24',
       '8 out of 8', '9 out of 14', 'Upper Basement out of 30',
       '5 out of 16', '18 out of 25', '14 out of 20', '6 out of 14',
       '19 out of 25', '6 out of 16', '15 out of 60',
       'Upper Basement out of 10', 'Upper Basement out of 20',
       '7 out of 23', '9 out of 18', '27 out of 45', '8 out of 5',
       '36 out of 81', '45 out of 60', '6 out of 29', '19 out of 85',
       '40 out of 75', 'Lower Basement out of 2', '11 out of 25',
       '11 out of 28', '16 out of 38', '11 out of 19', '2 out of 16',
       '11 out of 14', '2 out of 17', '6 out of 24', '15 out of 19',
       '10 out of 16', '1 out of 35', '3 out of 17', '16 out of 22',
       '2 out of 22', '5 out of 22', '7 out of 21', '10 out of 28',
       '14 out of 27', '11 out of 27', '10 out of 23', '14 out of 22',
       '10 out of 11', '24 out of 55', '4 out of 11', '3 out of 13',
       '4 out of 27', '3 out of 21', '15 out of 28', '17 out of 60',
       '20 out of 41'], dtype=object)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2693 entries, 0 to 2692
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   posted_on          2693 non-null   object
 1   bhk                2693 non-null   int64
 2   rent               2693 non-null   int64
 3   size               2693 non-null   int64
 4   floor              2693 non-null   object
 5   area_type          2693 non-null   object
 6   area_locality      2693 non-null   object
 7   city               2693 non-null   object
 8   furnishing_status  2693 non-null   object
 9   tenant_preferred   2693 non-null   object
 10  bathroom           2693 non-null   int64
 11  point_of_contact   2693 non-null   object
dtypes: int64(4), object(8)
memory usage: 252.6+ KB